
#top
#content

  #search
    %span.kanji-lookup.k
      ⓚ
    %input#query{ :type => :text, :autocapitalize => 'off', :autocomplete => 'off', 'autocorrect' => 'off', :spellcheck => 'false' }
    %span.clear
      ⊗
  #rads
  #cols.row
  #results

#bottom

:javascript

  var u = #{param_u};

  Caboche.phase(0, 'marks/' + u);
  Caboche.phase(1, 'radicals');

  Caboche.last(function() {

    var $query = $('#query');
    var $klookup = $('#search > span.kanji-lookup');
    var $clear = $('#search > span.clear');
    var $rads = $('#rads');
    var $cols = $('#cols');
    var $results = $('#results');

    var previousEvent = undefined;

    var log =
      function(err) {
        var derr = Fb.c($results, '#err.entry.error');
        derr.div('message: ' + err.message);
        derr.div('line: ' + err.line);
        derr.div('stack:<br/>' + err.stack);
        window.location.href = '#err';
      };

    var clear =
      function(ev) {
        $query.val('');
        displayResults('', []);
        $query.focus();
      };

    var displayKanjiMeta = function(elt, entry) {

      var meta = Ks.splitMeta(entry.gs);
      //elt.div('.gloss', JSON.stringify(meta));
      Nu.each(meta, function(k, v) {
        elt.span('.kgloss', k + ': ');
        elt.span('.vgloss', v);
      });
    }

    var displayEntry = function(entry, i) {

      var e;

      if ((typeof i) === 'object') e = Fb.a(i, '#' + entry.id + '.entry');
      else e = Fb.c($results, '#' + entry.id + '.entry');

      var $e = e.$;

      var isKanji = entry.id && entry.id.match(/^U/);

      $e.attr('data-ks-query', query);

      var ki = e.div('.ki');
      var ka = e.div('.ka');

      var jiClick =
        function(ev) {
          var $target = $(ev.target);
          var code = Ks.charToCode($target.text());
          var id = '#' + code;
          if ($(id).length > 0) {
            window.location.href = id;
            return;
          }
          $.ajax({
            url: '/ji/' + code,
            success: function(data) {
              displayEntry(data, $target.closest('.entry'));
            }
          });
        };

      Nu.each(entry.ki, function(kanji) {
        var kan = ki.div('.kanji');
        for (var i in kanji) {
          var $c = kan.span(kanji.charAt(i)).$;
          $c.on('click', jiClick);
        }
      });

      Nu.each(entry.ka, function(kana) { ka.div('.kana', kana); });

      if (isKanji) ki.$.addClass('kanji-entry');

      var gs = e.div('.gs')
      if (isKanji) displayKanjiMeta(gs, entry);
      Nu.each(entry.gs, function(gloss) { gs.div('.gloss', gloss); });

      gs.div('.gloss', entry.id);

      if (marks.indexOf(entry.id) > -1) e.div('.added', '⚆');

      $e.on('click', function(ev) {

        var pev = previousEvent || { timeStamp: 0, screenX: 0, screenY: 0 };

        var deltaX = ev.screenX - pev.screenX;
        var deltaY = ev.screenY - pev.screenY;
        var pta = $(pev.target).closest('.entry')[0];
        var ta = $(ev.target).closest('.entry')[0];

        //e.div('.log', JSON.stringify([ 'x', deltaX ]));
        //e.div('.log', JSON.stringify([ 'y', deltaY ]));

        if (
          ev.timeStamp - pev.timeStamp > 2800 ||
          Math.abs(deltaX) >= window.screen.width ||
          Math.abs(deltaY) >= window.screen.height
        ) {
          //e.div('.log', 'stashed0');
          previousEvent = ev;
          return;
        }

        if (deltaY > 100) {
          window.location.href = '#bottom';
        }
        else if (deltaY < -150) {
          window.location.href = '#top';
        }
        else if (pta === ta && deltaX < -70) {
          clear();
        }
        else if (u && pta === ta && deltaX > 70) {
          $e.find('.added').remove();
          $.ajax({
            url: '/mark/' + u + '/' + entry.id,
            method: 'POST',
            data: '',
            success: function() {
              marks.push(entry.id);
              e.div('.added', '⚆');
            },
            error: function() {
              e.div('.added.error', '⚆');
            }
          });
        }
        else {
          //e.div('.log', 'stashed1');
          previousEvent = ev;
        }
      });
    };

    var displayRadicals = function() {

      var col = 0;
      var $row;
      var strokes = 0;
      Nu.each(radicals, function(k, v) {
        if (col === 2) col = 0;
        if (col === 0) $row = Fb.c($rads, '.row', '').$;
        var co = Fb.c($row, '.col.rad', k);
        //var co = Fb.c($row, '.col.rad', { 'data-ks-u': Ks.charToCode(k) }, k);
        if (v[0] > strokes) {
          strokes = v[0];
          Fb.c(co, '.stroke-count', '' + (v[0] % 10));
        }
        col = col + 1;
      });
    };

    var displayResults = function(query, results) {

      if (results === []) return;

      $cols.empty();
      $results.empty();

      try {

        var cols = 0;
        Nu.each(results, function(entry) {
          if (cols === 7) return;
          if (entry.ki.length < 1) return;
          cols = cols + 1;
          var col = Fb.c($cols, '.col', entry.ki[0]);
          if (entry.id && entry.id.match(/^U/)) col.span('.k', 'ⓚ');
          $(col).on('click', function(ev) {
            window.location.href = '#' + entry.id;
          });
        });

        Nu.each(results, displayEntry);

      }
      catch(err) { log(err); }
    };

    $query.on('keyup', function(ev) {

      $rads.empty();
      $clear.removeClass('error');

      var q = $.trim($query.val()).toLowerCase();

      if (q === '') {
        displayResults('', []);
        return;
      }

      $.ajax({
        url: '/query/' + q,
        success: function(data) {
          displayResults(q, data);
        },
        error: function(jqxhr, tstatus, err) {
          //console.log([ 'query err', tstatus, err ]);
          $clear.addClass('error');
        }
      });
    });

    $klookup.on('click', displayRadicals);
    $clear.on('click', clear);

    window.setTimeout(function() {
      //window.scrollTo(0, 1);
      $query.focus();
    }, 0);
  });

