
#top
#content

  #search
    %input#query{ :type => :text }
    %span.clear
      ⊗

  #cols

  #results

:javascript

  Caboche.last(function() {

    var $query = $('#query');
    var $cols = $('#cols');
    var $results = $('#results');

    $query.attr('autocapitalize', 'off');
    $query.attr('autocomplete', 'off');
    $query.attr('autocorrect', 'off');
    $query.attr('spellcheck', 'false');

    var displayResults = function(query, results) {

      if (results === []) return;

      $cols.empty();
      $results.empty();

      var cols = 0;
      Nu.each(results, function(entry) {
        if (cols === 7) return;
        if (entry.ki.length < 1) return;
        cols = cols + 1;
        var $col = Fb.c($cols, '.col', entry.ki[0]).$;
        $col.on('click', function(ev) {
          window.location.href = '#' + entry.li;
        });
      });

      Nu.each(results, function(entry) {

        var e = Fb.c($results, '#' + entry.li + '.entry');

        $(e).attr('data-ks-query', query);

        var ki = e.div('.ki');
        var ka = e.div('.ka');
        Nu.each(entry.ki, function(kanji) { ki.div('.kanji', kanji); });
        Nu.each(entry.ka, function(kana) { ka.div('.kana', kana); });

        var gs = e.div('.gs')
        Nu.each(entry.gs, function(gloss) { gs.div('.gloss', gloss); });

        gs.div('.gloss', entry.li.toString());

        if (#{params[:u] != nil}) {

          var buttons = e.span('.buttons');
          var $up = buttons.span('.up', '◮').$;
          var $add = buttons.span('.add', { 'data-ks-line': entry.li }, '♻').$;

          $add.on('click', function(ev) {
            $add.addClass('clicked');
            var line = $add.attr('data-ks-line');
            $.ajax({
              url: '/note/#{params[:u]}/' + line,
              method: 'POST',
              data: '',
              success: function() { $add.addClass('success'); },
              error: function() { $add.addClass('error'); }
            });
          });
          $up.on('click', function(ev) {
            window.location.href = '#top';
          });
        }
      });
    };

    $query.on('keyup', function(ev) {

      var q = $.trim($query.val()).toLowerCase();

      if (q === '') {
        displayResults('', []);
        return;
      }

      $.ajax({
        url: '/query/' + q,
        success: function(data) { displayResults(q, data); },
        error: function(jqxhr, tstatus, err) {
          console.log([ 'query err', tstatus, err ]);
        }
      });
    });

    $('.clear').on('click', function(ev) {

      $query.val('');
      displayResults('', []);
      $query.focus();
    });

    window.setTimeout(function() {
      //window.scrollTo(0, 1);
      $query.focus();
    }, 0);
  });

