
%div#search
  %input#query{ :type => :text }
  %input#go{ :type => :submit, :value => 'x' }

%div#results

:javascript

  Caboche.last(function() {

    $('#query').on('keyup', function(ev) {
      var r = Fb.w($('#results'));
      r.div('.result', $('#query').val());
    });
  });

