!!!
%html
  %head
    %title kensaku
    %link{ :rel => 'stylesheet', :href => 'style.css', :type => 'text/css' }
    %script{ :src => '/js/caboche-1.2.2.min.js' }
  %body

    = yield

    :javascript

      Caboche.phase(0, 'http://code.jquery.com/jquery-1.10.1.min.js');

      Caboche.last(function() {
        console.log("done.");
      });
