@import 'compass/reset';

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: black;
  color: white;
}

.error {
  color: red;
}

#content {
  width: 300px;
  margin: 0 auto;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding-top: 0.3em;
  margin-bottom: 0.3em;
}

#search {
  text-align: center;
  padding-top: 0.3em;
  padding-bottom: 0.7em;
  border-bottom: 1px solid white;
}

span.kanji-lookup {
  font-size: 140%;
  margin-right: 0.2em;
  position: relative;
  top: 3px;
}
input#query {
  font-size: 120%;
  width: 200px;
}
span.clear {
  display: inline-block;
  font-size: 140%;
  font-weight: 100%;
  margin-left: 0.2em;
  position: relative;
  top: 3px;
}
span.menu {
  display: inline-block;
  margin-left: 0.5em;
}

//#cols {
//}
.row {
  -webkit-writing-mode: vertical-rl;
  float: right;
  width: 300px;
  border-bottom: 1px solid white;
  overflow: hidden;
}
.col {
  font-size: 151%;
  border-left: 1px solid white;
  padding: 0.29em;
  padding-right: 0.46em;
}
.col.rad {
  width: 1em;
}
.stroke-count {
  -webkit-writing-mode: horizontal-bt;
  font-size: 50%;
  position: relative;
  top: 1.4em;
  left: 0.25em;
}

#results {
  clear: both;
}

.k { // kanji mark
  font-size: 97%;
  opacity: 0.5;
}

.entry {
  position: relative;
  padding: 0.3em;
  border-bottom: 1px solid white;
}

.ki {
  display: inline-block;
  vertical-align: top;
  font-size: 200%;
  width: 65%;
  //max-width: 280px;
  word-wrap: break-word;
}
//.kanji {
//}
.kanji-entry {
  font-size: 700%;
}

.ka {
  display: inline-block;
  font-size: 110%;
  //word-wrap: break-word;
}
//.kana {
//}

.gs {
  margin-top: 0.1em;
  clear: both;
}
.gloss {
  margin-top: 0.2em;
}
.kgloss {
  display: inline-block;
  font-size: 80%;
  width: 80px;
}
.vgloss {
  display: inline-block;
  font-size: 80%;
  width: 65px;
}

.added {
  position: absolute;
  right: 1em;
  bottom: 0.5em;
}

