@import 'compass/reset';

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: black;
  color: white;
}

#content {
  width: 300px;
  margin: 0 auto;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

#search {
  padding-top: 0.3em;
}

input#query {
  font-size: 120%;
}

.entry {
  padding: 0.3em;
  border-bottom: 1px solid white;
}
.ki {
  font-size: 200%;
  width: 60%;
  float: left;
}
.ka {
  font-size: 110%;
}
.gs {
  margin-top: 0.1em;
  clear: both;
}
.gloss {
  margin-top: 0.2em;
}

